<div *ngIf="board">
  <div class="well well-sm no-print">
    <div class="pull-right">
      <button type="button" class="btn btn-default" (click)="refresh()" title="Refresh board data"><i class="glyphicon glyphicon-refresh"></i></button>
      <button type="button" class="btn btn-default" (click)="print()" title="Print"><i class="glyphicon glyphicon-print"></i></button>
    </div>
    <board-settings [settings]="settings" [board]="board" (settingsChanged)="settingsChanged($event)"></board-settings>
  </div>

  <h3 *ngIf="settings.showBoardTitle">{{board.name}}</h3>

  <div class="row">
    <div class="col-md-{{12/settings.numColumns}} col-print-{{12/settings.numColumns}} trello-list"
         *ngFor="let list of selectedLists; let index=index; trackBy:trackByLists"
         [class.break]="index % settings.numColumns == 0">
      <h4>{{ list.name }}</h4>
      <card-detail [card]="card" [settings]="settings" [type]="settings.cardType"
                   *ngFor="let card of list.cards; trackBy:trackByCards"></card-detail>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
